absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1742562417367/work
accelerate==1.6.0
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1698945915105/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1739175731979/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1738823133500/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1737358504394/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1732074881463/work
binaryornot @ file:///home/conda/feedstock_root/build_artifacts/binaryornot_1734071693792/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1737517575301/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
chex @ file:///home/conda/feedstock_root/build_artifacts/chex_1734075120317/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1729602398863/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1734069695401/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1739298976598/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
databricks-sdk @ file:///home/conda/feedstock_root/build_artifacts/databricks-sdk_1739542323835/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1740153410988/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1737269794043/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1737986966356/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1734056256783/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1700592904189/work
evaluate @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_edgkbve521/croot/evaluate_1679573633576/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1738326226/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
flax @ file:///home/conda/feedstock_root/build_artifacts/flax_1719416899295/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940323940/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1737645298504/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython==3.1.18
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1733462603229/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1737618250101/work
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1728949304457/work
gradio_client @ file:///home/conda/feedstock_root/build_artifacts/gradio-client_1728495639386/work
graphene @ file:///home/conda/feedstock_root/build_artifacts/graphene_1734272316656/work
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_graphql-core_1738014771/work
graphql-relay @ file:///home/conda/feedstock_root/build_artifacts/graphql-relay_1734272429466/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1734532816797/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1724955923926/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet==1.1.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1732707725495/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface-hub==0.31.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
isort==6.0.1
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1720615675561/work
jaxlib==0.4.28.dev20240710
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459226886/work
libcst==1.7.0
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1742437252389/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1742509992526/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1738719574846/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1724959498027/work
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1736538890977/work
mlflow @ file:///Users/runner/miniforge3/conda-bld/mlflow-split_1739480020607/work
mlflow-skinny @ file:///Users/runner/miniforge3/conda-bld/mlflow-split_1739480020607/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975032601/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1729065626813/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1724954568395/work
munkres==1.1.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225689808/work/dist/numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl#sha256=989042d872faf31c0434bd99fec5ec09b5c5d9a0b8125edd0ae869c5d8851048
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1676680662101/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1676709164054/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1676680479396/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optax @ file:///home/conda/feedstock_root/build_artifacts/optax_1738050391813/work
orbax-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/orbax-checkpoint_1701452553681/work
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1746202723818/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878429351/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1738679121080/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
peft==0.15.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1726075095677/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prometheus_flask_exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1736588839687/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1737635665312/work
protobuf==4.25.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1735327388823/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==17.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pybind11 @ file:///D:/bld/pybind11-split_1730237329882/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1730237328107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1737761369378/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1734571507953/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PyNaCl @ file:///Users/runner/miniforge3/conda-bld/pynacl_1725739321488/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1737243356468/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1733217473289/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1742579345300/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454732336/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1738271034449/work
querystring_parser @ file:///home/conda/feedstock_root/build_artifacts/querystring_parser_1734554621893/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1730952212651/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1733662684165/work
ruff==0.11.2
safetensors @ file:///Users/runner/miniforge3/conda-bld/safetensors_1740651535429/work
scikit-learn @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2coq3750ge/croot/scikit-learn_1737988773864/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470312029/work/dist/scipy-1.13.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=95cc9a6aceed50037865da4a45baac05fd0dcee7e557c6149fde270f2ffebafc
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1738913191835/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1737823930525/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1727986732968/work
sympy==1.13.1
tensorstore @ file:///Users/runner/miniforge3/conda-bld/tensorstore_1726473896887/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1741890415958/work/bindings/python
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1690458286251/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch==2.2.2
torchaudio==2.5.1
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1742578969070/work
torchvision==0.17.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615925783/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
-e git+ssh://git@github.com/xmarva/transformers.git@1636d7f0e44fdcd7fbd5a7346332f76fd248591a#egg=transformers
typer==0.15.1
typer-slim==0.15.1
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692557404/work
urllib3==1.26.20
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1734292939144/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1730214420167/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1725346879466/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1697914719713/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869492120/work
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1740594853298/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1737575828913/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
