argcomplete==3.5.3
black==24.4.0
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
commitizen==4.6.0
decli==0.6.2
distlib==0.3.9
exceptiongroup==1.2.2
filelock==3.18.0
flake8==7.2.0
identify==2.6.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
pycodestyle==2.13.0
pyflakes==3.3.2
pytest==8.3.5
PyYAML==6.0.2
questionary==2.1.0
termcolor==2.5.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.13.2
virtualenv==20.30.0
wcwidth==0.2.13
